@charset "UTF-8";
.sample__card__image::after { display: flex; align-items: center; justify-content: center; }

* { margin: 0; padding: 0; box-sizing: border-box; }

a { text-decoration: none; color: #ededed; }

ul, ol { list-style: none; }

body { font-family: "dana"; direction: rtl; }

button, input { border: none; outline: none; background: none; color: #ededed; }

::selection { background-color: #ff4747; color: #ededed; }

@media screen and (max-width: 500px) { * { cursor: default !important; }
  a { cursor: none; } }

.container { width: 1300px; margin: auto; }

@font-face { font-family: 'dana'; font-weight: normal; src: url("../fonts/Dana-Regular.ttf") format("truetype"); }

@font-face { font-family: 'dana'; font-weight: 600; src: url("../fonts/Dana-Medium.ttf") format("truetype"); }

@font-face { font-family: 'dana'; font-weight: bold; src: url("../fonts/Dana-Bold.ttf") format("truetype"); }

/** Basic typography style for copy text */
header { display: flex; padding: 10px 0; background-color: #222831; position: sticky; top: 0; transition: top 0.4s; height: 80px; z-index: 999; }

header .container { flex-direction: row; }

header .container .wrapper { display: flex; align-items: center; }

header .container .wrapper .logo-mobile { margin-left: 40px; }

header .container .wrapper .logo-mobile img { width: 80px; }

header .container .wrapper ul.muno { display: flex; align-items: center; }

header .container .wrapper ul.muno li a { margin-left: 43px; padding-bottom: 10px; transition: 0.2s; border-color: #ff4747; }

header .container .wrapper ul.muno li:nth-last-child(1) a { margin-left: 0; }

header .container .wrapper ul.muno .--active { border-bottom: 1px solid #ededed; }

.btn-primary { padding: 9px 15px; background-color: #ff4747; border-radius: 4px; font-size: 15px; }

.title { padding-bottom: 20px; padding-right: 30px; position: relative; }

.title::before { content: ""; position: absolute; right: 0; width: 15px; height: 15px; background-color: #ff4747; transform: translate(0, 50%) rotate(45deg); }

body { background-color: #222831; color: #ededed; }

.c-primary { color: #ff4747; }

.container { height: 100%; display: flex; align-items: center; justify-content: space-between; flex-direction: row-reverse; }

.intro { height: calc(100vh - 80px); }

.intro .container ul li a i { padding: 10px 0; font-size: 20px; transition: 0.5s; }

.intro .container ul li a i:hover { transform: rotate(360deg); }

.intro h1 { text-align: justify; font-size: 60px; flex-grow: 1; padding-right: 5%; }

.intro img { height: 95%; align-self: flex-end; }

.intro .go-to-bottom { position: absolute; bottom: 30px; left: 50%; transform: translate(-50%, 0); font-size: 17pt; animation: gobottom infinite linear 1s; cursor: pointer; }

@keyframes gobottom { to { bottom: 10px;
    opacity: 0; } }

.skills { background-color: #3B4048; width: 100%; }

.skills .skill { align-items: flex-start; padding: 30px 0 60px 0; }

.skills .skill__about { width: 50%; text-align: justify; line-height: 220%; font-size: 18px; }

.skills .skill__about .btn-primary { display: inline-block; padding: 4px 15px; margin: 15px 0; }

.skills .skill__bars { width: 40%; }

.skills .skill__bars ul { width: 100%; display: flex; flex-direction: column; justify-content: end; align-items: flex-end; }

.skills .skill__bars ul li:nth-child(even) { height: 10px; background-color: #222831; width: 100%; margin-bottom: 20px; }

.skills .skill__bars ul li:nth-child(even) .fill { width: 0%; background-color: #ff4747; height: 100%; margin-inline-start: auto; transition: 4s; }

.experience { padding: 50px 0; align-items: initial; }

.experience__image { width: 45%; margin-bottom: 30px; }

.experience__image img { width: 100%; position: sticky; top: 10%; }

.experience__time-line { width: 45%; }

.experience__time-line .time-line { line-height: 35px; margin-bottom: 30px; }

.experience__time-line .time-line__year { font-weight: bold; }

.experience__time-line .time-line__title { padding-right: 80px; color: #ff4747; font-size: 22px; font-weight: bold; position: relative; }

.experience__time-line .time-line__title::before { content: ""; position: absolute; right: 30px; top: 0; width: 15px; height: 15px; background-color: #ff4747; transform: rotate(45deg) translate(50%, 0); }

.experience__time-line .time-line__details { padding-right: 80px; text-align: justify; position: relative; }

.experience__time-line .time-line__details::before { content: ""; position: absolute; right: 30px; top: 0; width: 3px; height: 100%; background: linear-gradient(#ff4747, transparent); transform: translate(0, -14px); }

.sample { flex-wrap: wrap; margin-bottom: 50px; }

.sample__card { text-align: center; position: relative; border-radius: 11px; box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.16); flex-basis: 48%; margin-bottom: 30px; }

.sample__card__image { position: relative; overflow: hidden; }

.sample__card__image a img { width: 100%; object-fit: cover; position: relative; }

.sample__card__image:hover::after { top: 0; }

.sample__card__image::after { content: "دیدن سایت"; position: absolute; top: -100%; left: 0; width: 100%; height: 100%; font-size: 22px; cursor: pointer; background-color: rgba(34, 40, 49, 0.8); transition: 0.5s; }

.sample__card__image:hover > .sample__card__image::after { top: 50%; }

.sample__card__title { position: absolute; bottom: 0; left: 0; width: 100%; padding: 20px 0; background-color: #222831; }

.comment { width: 100%; background-color: #3B4048; display: flex; flex-direction: column; align-items: center; }

.comment .title { padding-bottom: 0; padding: 30px 30px 0 0; }

.comment__card { background-color: #222831; padding: 30px; width: 700px; transform: translate(0, 10%); border-radius: 16px; box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.16); }

.comment__card__top { display: flex; justify-content: space-between; }

.comment__card__top i { color: #ff4747; font-size: 24px; }

.comment__card__star { width: 100%; display: flex; justify-content: center; margin: 20px 0; }

.comment__card__star i { padding: 0 5px; font-size: 25px; color: #ff4747; }

.comment__card__text { text-align: center; padding-bottom: 20px; }

.title-card { margin-top: 70px; display: flex; align-items: center; justify-content: space-between; flex-direction: row; }

.title-card .title { padding-bottom: 0; }

.cards { display: flex; margin-top: 30px; flex-wrap: wrap; }

.cards__card { width: 400px; padding: 30px; background-color: #3B4048; border-radius: 14px; box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.16); margin-top: 30px; }

.cards__card a img { width: 100%; border-radius: 12px; }

.cards__card h3 { margin: 20px 0 10px 0; }

.cards__card p { line-height: 1.82; text-align: justify; }

.cards__card .btn { margin-top: 30px; }

.footer { margin-top: 70px; padding: 40px 0 20px 0; box-shadow: inset 0 9px 6px 0 rgba(0, 0, 0, 0.16); }

.footer .keeper { width: 100%; display: flex; justify-content: space-between; flex-direction: row-reverse; align-items: flex-start; }

.footer .keeper .contact { list-style: none; display: flex; flex-direction: column; justify-content: end; align-items: flex-end; font-size: 18px; }

.footer .keeper .contact li:nth-child(1)::before { font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f095"; padding-right: 12px; color: #ff4747; }

.footer .keeper .contact li:nth-child(2)::before { font-family: "Font Awesome 5 Pro"; font-weight: 900; content: "\f0e0"; padding-right: 12px; color: #ff4747; }

.footer .keeper .right { width: 40%; }

.footer .keeper .right .title { padding-bottom: 0; }

.footer .social-network { display: flex; justify-content: center; margin-top: 20px; }

.footer .social-network li a i { padding: 0 12px; font-size: 20px; transition: 0.5s; }

.footer .social-network li a i:hover { transform: rotate(360deg); }

.sub-footer { width: 100%; padding: 10px 0; text-align: center; box-shadow: 0 -12px 28px 0 rgba(0, 0, 0, 0.36); }

@media (max-width: 1370px) { .container { width: 1100px; }
  header .container { width: 1100px; }
  .cards__card { width: 45%; } }

@media (max-width: 1150px) { .container { width: 950px; }
  header .container { width: 950px; }
  .intro .container h1 { font-size: 45px; } }

@media (max-width: 1000px) { .comtainer { width: 800px !important; }
  header .container > a { display: none; }
  header .container { display: initial; width: 800px; }
  header .container .wrapper .muno { width: 100%; display: flex; justify-content: space-between; }
  .intro .container { width: 800px; }
  .intro .container h1 { font-size: 40px; }
  .skills .skill { width: 800px; flex-direction: column-reverse; }
  .skills .skill__about { width: 100%; margin-bottom: 50px; }
  .skills .skill__bars { width: 100%; }
  .experience { width: 800px; flex-direction: column; }
  .experience__image { display: none; }
  .experience__time-line { width: 100%; }
  .sample-title { width: 800px; }
  .sample { width: 800px; }
  .sample__card { flex-basis: 100%; }
  .cards { width: 800px; }
  .title-card { width: 800px; }
  .footer__container { width: 800px; } }

@media (max-width: 900px) { .container { width: 90%; }
  header .container { justify-content: space-between; flex-direction: row-reverse; width: 90%; }
  header .container .wrapper { width: 100%; justify-content: space-between; flex-direction: row-reverse; }
  header .container .wrapper ul.muno { position: fixed; top: 0; right: -100%; width: 70%; height: 100%; background-color: #ff4747; display: flex; flex-direction: column; justify-content: center; z-index: 1000; transition: 0.5s; }
  header .container .wrapper ul.muno li { border-color: #ededed; padding: 16px 0; }
  header .container .wrapper ul.muno li a { margin-left: 0; border-color: #ededed; }
  header .container .wrapper ul.muno li .--active { color: #ededed; border-bottom: 1px solid #ededed; }
  header .container .wrapper .logo-mobile { margin-left: 0; }
  header .container .wrapper .logo-mobile img { width: 75px; }
  header .container ul.muno-mobile { display: block; cursor: pointer; }
  header .container ul.muno-mobile li { width: 25px; height: 3px; border-radius: 1px; background-color: #ededed; margin: 10px 0; }
  header .container ul.muno-mobile li:nth-child(1) { width: 40px; }
  .intro .container { width: 90%; flex-direction: column; justify-content: center; position: relative; }
  .intro .container .sosial-networks { position: absolute; top: 50%; left: 0; transform: translate(0, -50%); }
  .intro .container img { width: auto; height: 80%; align-self: center; }
  .intro .container h1 { font-size: 37px; padding-right: 0; }
  .intro .container .go-to-bottom { display: none; }
  .skills .skill { width: 90%; }
  .experience { width: 90%; }
  .comment__card { width: 90%; } }

@media (max-width: 800px) { .cards__card { width: 100%; }
  .footer__container { display: flex; }
  .footer__container .keeper { flex-direction: column; justify-content: center; }
  .footer__container .keeper .contact { width: 100%; align-items: center; justify-content: end; }
  .footer__container .keeper .right { margin: 20px 0; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center; }
  .footer__container .keeper .right p { text-align: center; } }

@media (max-width: 600px) { .intro .container h1 { font-size: 30px; } }
/*# sourceMappingURL=main.css.map */