// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
body {
  background-color: $c-blue-dark;
  color: $c-light;
}
.c-primary {
  color: $c-red;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.intro {
  height: calc(100vh - 80px);
  .container ul {
    li a i {
      padding: 10px 0;
      font-size: 20px;
      transition: 0.5s;
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
  h1 {
    text-align: justify;
    font-size: 60px;
    flex-grow: 1;
    padding-right: 5%;
  }
  img {
    height: 95%;
    align-self: flex-end;
  }
  .go-to-bottom {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 17pt;
    animation: gobottom infinite linear 1s;
    cursor: pointer;
  }
}

@keyframes gobottom {
  to {
    bottom: 10px;
    opacity: 0;
  }
}

.skills {
  background-color: $c-gray;
  width: 100%;
  .skill {
    align-items: flex-start;
    padding: 30px 0 60px 0;
    &__about {
      width: 50%;
      text-align: justify;
      line-height: 220%;
      font-size: 18px;
      .btn-primary {
        display: inline-block;
        padding: 4px 15px;
        margin: 15px 0;
      }
    }
    &__bars {
      width: 40%;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        li:nth-child(even) {
          height: 10px;
          background-color: $c-blue-dark;
          width: 100%;
          margin-bottom: 20px;
          .fill {
            width: 0%;
            background-color: $c-red;
            height: 100%;
            margin-inline-start: auto;
            transition: 4s;
          }
        }
      }
    }
  }
}
.experience {
  padding: 50px 0;
  align-items: initial;
  &__image {
    width: 45%;
    margin-bottom: 30px;
    img {
      width: 100%;
      position: sticky;
      top: 10%;
    }
  }
  &__time-line {
    width: 45%;
    .time-line {
      line-height: 35px;
      margin-bottom: 30px;
      &__year {
        font-weight: bold;
      }
      &__title {
        padding-right: 80px;
        color: $c-red;
        font-size: 22px;
        font-weight: bold;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 30px;
          top: 0;
          width: 15px;
          height: 15px;
          background-color: $c-red;
          transform: rotate(45deg) translate(50%, 0);
        }
      }
      &__details {
        padding-right: 80px;
        text-align: justify;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          right: 30px;
          top: 0;
          width: 3px;
          height: 100%;
          background: linear-gradient($c-red, transparent);
          transform: translate(0, -14px);
        }
      }
    }
  }
}
.sample {
  flex-wrap: wrap;
  margin-bottom: 50px;
  &__card {
    text-align: center;
    position: relative;
    border-radius: 11px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.16);
    flex-basis: 48%;
    margin-bottom: 30px;
    &__image {
      position: relative;
      overflow: hidden;
      a img {
        width: 100%;
        object-fit: cover;
        position: relative;
      }
      &:hover {
        &::after {
          top: 0;
        }
      }
      &::after {
        content: "دیدن سایت";
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 22px;
        cursor: pointer;
        background-color: transparentize($color: $c-blue-dark, $amount: 0.2);
        @extend %align-flex;
        transition: 0.5s;
      }
      &:hover > &::after {
        top: 50%;
      }
    }
    &__title {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px 0;
      background-color: $c-blue-dark;
    }
  }
}
.comment {
  width: 100%;
  background-color: $c-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    padding-bottom: 0;
    padding: 30px 30px 0 0;
  }
  &__card {
    background-color: $c-blue-dark;
    padding: 30px;
    width: 700px;
    transform: translate(0, 10%);
    border-radius: 16px;
    box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.16);
    &__top {
      display: flex;
      justify-content: space-between;
      i {
        color: $c-red;
        font-size: 24px;
      }
    }
    &__star {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0;
      i {
        padding: 0 5px;
        font-size: 25px;
        color: $c-red;
      }
    }
    &__text {
      text-align: center;
      padding-bottom: 20px;
    }
  }
}
.title-card {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  .title {
    padding-bottom: 0;
  }
}
.cards {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  &__card {
    width: 400px;
    padding: 30px;
    background-color: $c-gray;
    border-radius: 14px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.16);
    margin-top: 30px;
    a img {
      width: 100%;
      border-radius: 12px;
    }
    h3 {
      margin: 20px 0 10px 0;
    }
    p {
      line-height: 1.82;
      text-align: justify;
    }
    .btn {
      margin-top: 30px;
    }
  }
}
.footer {
  margin-top: 70px;
  padding: 40px 0 20px 0;
  box-shadow: inset 0 9px 6px 0 rgba(0, 0, 0, 0.16);
  .keeper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: flex-start;
    .contact {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: flex-end;
      font-size: 18px;
      li:nth-child(1)::before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f095";
        padding-right: 12px;
        color: $c-red;
      }
      li:nth-child(2)::before {
        font-family: "Font Awesome 5 Pro";
        font-weight: 900;
        content: "\f0e0";
        padding-right: 12px;
        color: $c-red;
      }
    }
    .right{
      width: 40%;
      .title{
        padding-bottom: 0;
      }
    }
  }
  .social-network {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    li a i{
      padding: 0 12px;
      font-size: 20px;
      transition: 0.5s;
      &:hover{
        transform: rotate(360deg);
      }
    }
  }
}
.sub-footer{
  width: 100%;
  padding: 10px 0;
  text-align: center;
  box-shadow: 0 -12px 28px 0 rgba(0, 0, 0, 0.36);
}
