@media(max-width : 1370px){
    .container{
        width: 1100px;
    }
    header .container{
        width: 1100px;
    }
    .cards__card{
        width: 45%;
    }

}

@media(max-width : 1150px){
    .container{
        width: 950px;
    }
    header .container{
        width: 950px;
    }
    .intro .container h1{
        font-size: 45px;
    }
}

@media(max-width : 1000px){
    .comtainer{width: 800px !important;}
    header .container > a{
        display: none;
    }
    header .container{
        display: initial;
        width: 800px;
        .wrapper{
            .muno{
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .intro .container{
        width: 800px;
    }
    .intro .container h1{
        font-size: 40px;
    }
    .skills .skill{
        width: 800px;
        flex-direction: column-reverse;
        &__about{
            width: 100%;
            margin-bottom: 50px;
        }
        &__bars{
            width: 100%;
        }
    }
    .experience{
        width: 800px;
        flex-direction: column;
        &__image{
            display: none;
        }
        &__time-line{
            width: 100%;
        }
    }
    .sample-title{
        width: 800px;
    }
    .sample{
        width: 800px;
        &__card{
            flex-basis: 100%;
        }
    }
    .cards{
        width: 800px;
    }
    .title-card{
        width: 800px;
    }
    .footer__container{
        width: 800px;
    }
}