@media (max-width: 900px) {
  .container{
    width: 90%;
  }
  header .container {
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 90%;
  }
  header .container .wrapper {
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    ul.muno {
      position: fixed;
      top: 0;
      right: -100%;
      width: 70%;
      height: 100%;
      background-color: $c-red;
      display: flex;
      flex-direction: column;
      justify-content: center;
      z-index: 1000;
      transition: 0.5s;
      li{
          border-color: $c-light;
          padding: 16px 0;
          a{margin-left: 0;border-color: $c-light}
          .--active {
            color: $c-light;
            border-bottom: 1px solid $c-light;
          }
      }
    }
    .logo-mobile{
        margin-left: 0;
        img{width: 75px;}
    }
    

  }
  header .container ul.muno-mobile {
    display: block;
    cursor: pointer;
    li {
      width: 25px;
      height: 3px;
      border-radius: 1px;
      background-color: $c-light;
      margin: 10px 0;
      &:nth-child(1) {
        width: 40px;
      }
    }
  }
  .intro .container{
    width: 90%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    .sosial-networks{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0,-50%);
    }
    img{
      width: auto;
      height: 80%;
      align-self: center;
    }
    h1{
      font-size: 37px;
      padding-right: 0;
    }
    .go-to-bottom{
      display: none;
    }
  }
  .skills .skill{
    width: 90%;
  }
  .experience{
    width: 90%;
  }
  .comment{
    &__card{
      width: 90%;
    }
  }
}
@media (max-width: 800px){
  .cards__card{
    width: 100%;
  }
  .footer__container{
    display: flex;
    .keeper{
      flex-direction: column;
      justify-content: center;
      .contact{
        width: 100%;
        align-items: center;
        justify-content: end;
      }
      .right{
        margin: 20px 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
          text-align: center;
        }
      }
    }
  }
}