header {
  display: flex;
  padding: 10px 0;
  background-color: $c-blue-dark;
  position: sticky;
  top: 0;
  transition: top 0.4s;
  height: 80px;
  z-index: 999;
  .container {
    flex-direction: row;
    .wrapper {
      display: flex;
      align-items: center;
      .logo-mobile {
        img {
          width: 80px;
        }
        margin-left: 40px;
      }
      ul.muno {
        display: flex;
        align-items: center;
        li{
          a {
            margin-left: 43px;
            padding-bottom: 10px;
            transition: 0.2s;
            border-color: $c-red;
          }
          &:nth-last-child(1) a{
            margin-left: 0;
          }
        } 
        .--active {
          border-bottom: 1px solid $c-light;
        }
      }
    }
  }
}
