.btn-primary {
  padding: 9px 15px;
  background-color: $c-red;
  border-radius: 4px;
  font-size: 15px;
}
.title {
  padding-bottom: 20px;
  padding-right: 30px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    background-color: $c-red;
    transform: translate(0, 50%) rotate(45deg);
  }
}
