// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $c-light;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: "dana";
  direction: rtl;
}

button,
input {
  border: none;
  outline: none;
  background: none;
  color: $c-light;
}

::selection{
  background-color: $c-red;
  color: $c-light;
}

@media screen and (max-width: 500px) {
  * {
    cursor: default !important;
  }
  a {
    cursor: none;
  }
}

.container{
  width: 1300px;
  margin: auto;
}