// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: 'dana';
    font-weight: normal;
    src:  url('../fonts/Dana-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'dana';
    font-weight: 600;
    src:  url('../fonts/Dana-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'dana';
    font-weight: bold;
    src:  url('../fonts/Dana-Bold.ttf') format('truetype');
}