// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

%align-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%full-size{
    width: 100%;
    height: 100%;
}