// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// colors var
$c-blue-dark : #222831;
$c-light : #ededed;
$c-red : #ff4747;
$c-gray : #3B4048;

//font size var
$f-size-title : 36px;
$f-size-medium : 30px;
$f-size-small : 22px;